.mouse-effect__wrapper {
  --before-bg-x: 0;
  --before-bg-y: 0;
  --pinned-app-height: 100px;
  --pinned-app-width: 100px;
  --glow-size-multiplier: 2.5;
  --pinned-app-color: #444444;

  
  &::before {
    content: "";
    position: absolute;

    height: calc(100% - 4px);
    width: calc(100% - 4px);

    transform: translate(2px, 2px);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;

    width: 100%;
    aspect-ratio: 1;

    background: radial-gradient(rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0) 50%);
    background-position-x: calc(var(--before-bg-x) - (var(--pinned-app-width) * var(--glow-size-multiplier)/(2)));
    background-position-y: calc(var(--before-bg-y) - (var(--pinned-app-height) * var(--glow-size-multiplier)/(2)));
    background-repeat: no-repeat;
    background-size: calc(100% * var(--glow-size-multiplier)) calc(100% * var(--glow-size-multiplier));
  }

  &:hover {
    &::after {
      box-sizing: border-box;
      border: 2px solid rgba(255, 255, 255, .6);
      background-image: radial-gradient(rgba(255, 255, 255, .4) -75%, rgba(255, 255, 255, 0) 75%);
    }

    &::before {
      background-color: transparent;
    }
  }
}

:root {
  --inspect: 1px dashed orange;
}

.start-menu {
  --start-menu-height: 639px;
  --start-menu-width: 648px;

  height: 0px;
  width: var(--start-menu-width);
  
  display: flex;
  position: absolute;
  left: 0;
  bottom: 40px; // taskbar height

  color: #fff;
  font-size: 12px;

  background-position-x: calc(var(--mouse-bx) - (var(--start-menu-width)/2));
  background-position-y: calc(var(--mouse-by) - (var(--start-menu-height)/2));
  background-color: rgba(30, 30, 30, 0.95);
  background-repeat: no-repeat;
  
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: none;
  overflow: hidden;

  user-select: none;
  
  &.active {
    height: var(--start-menu-height);
    // transition: height 0.3s cubic-bezier(0.05, 0.95, 0.5, 0.95);
  }

  ::-webkit-scrollbar {
    width: 17px;
  }
  ::-webkit-scrollbar-button:vertical {
    height: 11px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .3);
    // border-radius:10px;
    background-clip: content-box;
    border: 0 solid transparent;
    border-width: 0 7px 0 8px;
    width: 10px;
  }
}

.side-bar {
  --trans: .1s;
  --delay-width: .5s;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0s ease-in, width var(--trans) ease-in, background-color 0s ease-in, backdrop-filter 0s ease-in;
  transition-delay: 0s, 0s, var(--trans), var(--trans);
  filter: drop-shadow(4px 0px 3px rgba(0,0,0,.3));

  &:hover {
    backdrop-filter: blur(18px);
    background-color: rgba(37, 37, 37, 0.8);
    width: 260px;
    transition: all 0s ease-in, width var(--trans) ease-in, background-color 0s ease-in, backdrop-filter var(--trans) ease-in;
    transition-delay: .6s, var(--delay-width), var(--delay-width), var(--delay-width);
  }

  .action-button {
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    align-items: center;

    img {
      width: 48px;
      height: 48px;
      padding: 13px;
      box-sizing: border-box;
      filter: invert(100%);
    }

    &:first-of-type {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: auto;
    }
  }
}

.app-list, .pinned-apps {
  flex: 1;
  overflow: hidden;

  &:hover {
    overflow: overlay;
  }
}

.app-list {
  // text-align: left;
  padding-top: 7px;

  & > div {      
    margin-left: 60px;
    margin-right: 15px;
  }

  .category__title {
    padding: 13px 10px 7px;
    outline: var(--inspect);
    overflow: hidden;
    
    &:hover{
      background: linear-gradient(to left,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 100%);
      background-position-x: calc(var(--mouse-x) - (var(--mouse-w)));
      background-color: rgba(255, 255, 255, .1);
      background-repeat: no-repeat;
      background-size: calc(var(--mouse-w) * 2);
    }
  }
  
  .app-item {
    display: flex;
    align-items: center;

    &:hover {
      // color: #FFF;
      background: linear-gradient(to left,  rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, 0) 90%);
      background-position-x: calc(var(--mouse-x) - (var(--mouse-w)));
      background-clip: padding-box; /* !importanté */
      // border: solid 10px transparent; /* !importanté */
      // border-image: linear-gradient(to right, rgba(255, 255, 255, .3), rgba(255,255, 255, 0)) 100% 0;
      background-repeat: no-repeat;
      background-size: calc(var(--mouse-w) * 2);
    }

    img {
      width: 26px;
      height: 26px;
      padding: 3px;
      margin: 2px 3px;
      background-color: #0078d7;
    }

    .title {
      padding-left: 5px;
    }
  }
}

.pinned-apps {
  display: flex;
  flex-wrap: wrap;
  place-content: flex-start;
  gap: 4px;

}

.pinned-app {
  width: var(--pinned-app-width);
  max-width: var(--pinned-app-width);
  min-width: var(--pinned-app-width);
  height: var(--pinned-app-height);

  position: relative;
  
  background-color: var(--pinned-app-color);

  &::before {
    background-color: var(--pinned-app-color);
  }

  &:hover {
    &::after {
      box-sizing: border-box;
      border: 2px solid rgba(255, 255, 255, .6);
    }
  }
}