:root {
  --inspect: 1px dashed orange;

  --pinned-app-height: 100px;
  --pinned-app-width: 100px;
  --pinned-app-color: #444444;

  --glow-size-multiplier: 2.5;
}

@mixin mouse-effect__wrapper($width, $height, $padding: 4px, $glow-multiplier: 2.5) {
  position: relative;

  $size: max(#{$width}, #{$height});

  // outline: var(--inspect);

  mix-blend-mode: lighten;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    height: calc(#{$height} - #{$padding});
    width: calc(#{$width} - #{$padding});

    transform: translate(#{$padding/2}, #{$padding/2});
    z-index: -1;
  }

  &::after { // border

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;

    width: $size;
    height: $size;

    background: radial-gradient(rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, 0) 40%);
    background-position-x: calc(var(--before-bg-x) - (#{$size} * #{$glow-multiplier}/(2)));
    background-position-y: calc(var(--before-bg-y) - (#{$size} * #{$glow-multiplier}/(2)));
    background-repeat: no-repeat;
    background-size: calc(100% * #{$glow-multiplier}) calc(100% * #{$glow-multiplier});
  }

  &:hover {
    &::after { // background
      background-image: radial-gradient(rgba(255, 255, 255, .3) -65%, rgba(255, 255, 255, 0) 80%);
    }

    &::before {
      background-color: transparent;
    }
  }
}


.start-menu {
  --start-menu-height: 639px;
  --start-menu-width: 648px;

  height: 0px;
  width: var(--start-menu-width);
  
  display: flex;
  position: absolute;
  left: 0;
  bottom: 40px; // taskbar height

  color: #fff;
  font-size: 12px;

  background-position-x: calc(var(--mouse-bx) - (var(--start-menu-width)/2));
  background-position-y: calc(var(--mouse-by) - (var(--start-menu-height)/2));
  background-color: rgba(30, 30, 30, 0.95);
  background-repeat: no-repeat;
  
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: none;
  overflow: hidden;

  user-select: none;
  
  &.active {
    height: var(--start-menu-height);
    // transition: height 0.3s cubic-bezier(0.05, 0.95, 0.5, 0.95);
  }

  ::-webkit-scrollbar {
    width: 17px;
  }
  ::-webkit-scrollbar-button:vertical {
    height: 11px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .3);
    // border-radius:10px;
    background-clip: content-box;
    border: 0 solid transparent;
    border-width: 0 7px 0 8px;
    width: 10px;
  }
}

.side-bar {
  --trans: .1s;
  --delay-width: .5s;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0s ease-in, width var(--trans) ease-in, background-color 0s ease-in, backdrop-filter 0s ease-in;
  transition-delay: 0s, 0s, var(--trans), var(--trans);
  filter: drop-shadow(4px 0px 3px rgba(0,0,0,.3));
  z-index: 10;

  &:hover {
    backdrop-filter: blur(18px);
    background-color: rgba(37, 37, 37, 0.8);
    width: 260px;
    transition: all 0s ease-in, width var(--trans) ease-in, background-color 0s ease-in, backdrop-filter var(--trans) ease-in;
    transition-delay: .6s, var(--delay-width), var(--delay-width), var(--delay-width);
  }

  .action-button {
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    align-items: center;

    @include mouse-effect__wrapper(100%, 100%);

    img {
      width: 48px;
      height: 48px;
      padding: 13px;
      box-sizing: border-box;
      filter: invert(100%);
    }

    &:first-of-type {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: auto;
    }
  }
}

.app-list, .pinned-apps {
  flex: 1;
  overflow: hidden;

  &:hover {
    overflow: overlay;
  }
}

.app-list {
  // text-align: left;
  padding-top: 7px;

  & > div {      
    margin-left: 60px;
    margin-right: 15px;
  }

}

.category__title {
  padding: 13px 10px 7px;
  // outline: var(--inspect);
  overflow: hidden;

  @include mouse-effect__wrapper(var(--box-width), var(--box-height), 2px);
  
  &::before {
    background-image: none;
  }

  &::after{
    background-image: none;
  }
  
  &:hover{
    &::before {
      width: calc(var(--box-width) - 2px);
      height: calc(var(--box-height) - 2px);

      background-image: linear-gradient(to left, rgba(200, 200, 200, 0) 0%, rgba(100, 100, 100, .8) 40%, rgba(255, 255, 255, 0) 100%);
      background-position-x: calc(var(--before-bg-x) - (var(--box-width) * var(--glow-size-multiplier)/(2)));
      // background-position-y: calc(var(--before-bg-y) - (var(--box-height) * var(--glow-size-multiplier)/(2)));
      background-repeat: no-repeat;
      background-size: calc(100% * var(--glow-size-multiplier)) calc(100% * var(--glow-size-multiplier));
      // background-color: blue;
    }

    &::after {
      background-image: radial-gradient(rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0) 40%);
    }
  }
}

.app-item {
  display: flex;
  align-items: center;

  &:hover {
    // color: #FFF;
    // background: linear-gradient(to left,  rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, 0) 90%);
    background-position-x: calc(var(--mouse-x) - (var(--mouse-w)));
    background-clip: padding-box; /* !importanté */
    // border: solid 10px transparent; /* !importanté */
    // border-image: linear-gradient(to right, rgba(255, 255, 255, .3), rgba(255,255, 255, 0)) 100% 0;
    background-repeat: no-repeat;
    background-size: calc(var(--mouse-w) * 2);
  }

  .icon {
    width: 26px;
    height: 26px;
    padding: 3px;
    margin: 2px 3px;
    // background-color: #0078d7;
  }

  .title {
    padding-left: 5px;
  }
}

.pinned-apps {
  display: flex;
  flex-wrap: wrap;
  place-content: flex-start;
  gap: 4px;

}

.pinned-app {
  width: var(--pinned-app-width);
  height: var(--pinned-app-height);

  display: grid;
  align-items: center;
  justify-items: center;
  
  background-color: var(--pinned-app-color);

  .icon {
    width: calc(var(--pinned-app-width) / 3);
    filter: drop-shadow(0px 0.5px 2px rgba(0, 0, 0, 0.2)) drop-shadow(0px 3.2px 7.2px rgba(0, 0, 0, 0.24));
  }

  .title {
    position: absolute;
    left: 8px;
    bottom: 5px;
  }

  &::before {
    background-color: var(--pinned-app-color);
  }

  &:hover {
    &::after {
      box-sizing: border-box;
      border: 2px solid rgba(255, 255, 255, .6);
    }
  }

  @include mouse-effect__wrapper(var(--pinned-app-width), var(--pinned-app-height));
}